@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

//### Primary
$darkcyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

//### Neutral
$darkblue:hsl(212, 21%, 14%);
$grayblue:hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

//### Font
$headerFont: 'Fraunces', serif;
$copyFont: 'Montserrat', sans-serif;

//###Body Copy
$fontSize: 14px;


* {
    margin: 0;
    padding: 0;
}

body {
    background-color:  $cream;
    font-family: $copyFont;
    font-size: $fontSize;
}

#wrapper {
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: 330px;
    margin: 40px auto;
}

#main-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

#main-content {
    padding: 20px;
}

p:first-child {
    font-size: 12px;
    letter-spacing: .4em;
    text-transform: uppercase;
    margin-bottom: 1em;
    color: $grayblue;
}

h1 {
    font-family: $headerFont;
    line-height: 1em;
    font-size: 30px;
    margin-bottom: 16px;
}
#copy {
    color: $grayblue;
    line-height: 1.6em;
    font-size: 15px;
    margin-bottom: 18px;
}
#prices {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 18px;
}
#new-price {
    color: $darkcyan;
    font-family: $headerFont;
    font-size: 36px;
    margin-right: 14px;
}
#regular-price {
    align-self: center;
    color: $grayblue;
    text-decoration: line-through;
    font-size: 16px;
}
#addtoCart {
    display: flex;
    justify-content: center;
    align-items: center;
}
#addtoCart img {
    margin-right: 10px;
}
#addtoCart button {
    color: $white;
    background-color: $darkcyan;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}
#addtoCart button:hover {
    cursor: pointer;
    background-color: $darkblue;
}
@media screen and (min-width: 450px) {
    body {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        height: 99vh;
    }
    #wrapper {
        width: 600px;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
    }
    #main-image {
        width: 330px;
        border-radius: 10px 0 0 10px;
    }
    #main-content {
        width: 270px;
        border-radius: 0 10px 10px 0;
        padding: 35px;
    }
    #main-img{
        content: url(images/image-product-desktop.jpg);
        border-radius: 10px 0 0 10px;
        height: 100%;
    }
    
}